$size :18px;
$transition :all 0.3s ease-in-out;
$map: ( h1:$size * 2 , h2:$size * 0.8);
	@each $elem , $SZ in $map {
		
		#{$elem}{
            font-size: $SZ;
			}
		}

@mixin foot{
	margin:50px auto;
	margin-top: -50px;
	width: 600px;
	height: 60px;
	padding-top: 2px;
	//padding-right: 120px;
	background-color: hsl(235, 24%, 19%);
	display: flex;
	justify-content: space-between;
	padding-left: 20px;
		padding-right: 20px;
	column-gap: 0px;
	border-bottom: 2px solid hsl(233, 14%, 35%);
	
	h2:first-child:hover{
		color:hsl(234, 11%, 52%);
	}
	h2{
		transition:$transition;
		//float: right;
		label:first-child{
			color:hsl(220, 98%, 61%)
		}
		label{
			/*position: relative;
			left: 15px; */			
			margin-left: 15px;
			color:hsl(234, 11%, 52%);
			cursor: pointer;
			transition:$transition;
		}
		label:hover{
			color:black;
		}
	}
	h2:hover{
		color:black;
		}
	
}
h1{
	color:white;
	letter-spacing: 20px;
}
h2{
	cursor:pointer;
	color:hsl(234, 11%, 52%);
}
h3{
	text-align: center;
	color:hsl(236, 9%, 61%);
	font-size: 18px;
	margin-right: 10px;
}

body{
	background-color: hsl(235, 21%, 11%);
	overflow-x: hidden;
	font-size: $size;
	font-family: 'Josefin Sans', sans-serif;
	font-weight:400 , 700;
}
// header
#header{
	background-image: url(../images/bg-desktop-dark.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 300px;
	padding-top: 50px;
	display: flex;
	justify-content: center;
	column-gap:370px;
	
	.sun{
		margin-top: 20px;
		cursor: pointer;
	}
	.moon{
		display: none;
		margin-top: 20px;
		cursor: pointer;
	}
}
// first input todo list
.input-todo{
	margin:50px auto;
	margin-top: -130px;
	width: 600px;
	height: 60px;
	background-color: hsl(235, 24%, 19%);
	border-bottom: 2px solid hsl(233, 14%, 35%);
	
	.input{
		width: 100%;
		position: relative;
		top:-15px;
		border:1px solid transparent;
		background-color: hsl(235, 24%, 19%);
	color:hsl(234, 39%, 85%);
	padding-left: 65px;
	padding-bottom: 10px;
		
	}
	::placeholder{
		color:hsl(233, 14%, 35%);
	}
	
	input:focus{
		border:1px solid hsl(235, 24%, 19%);
		background-color: hsl(235, 24%, 19%);
		outline:1px solid transparent;
	}
	i{
		position: relative;
		top:17px;
		left:20px;
		z-index: 2;
		font-size: 25px;
		color:hsl(237, 14%, 26%);
	}
} 

// footer result todo list

#footer{
	@include foot;

}
#footer2{
	@include foot;
	display: none;
	text-align: center;
	padding-right: 50px;
}

@media (max-width:850px){
	
	$map: ( h1:$size * 1.5 , h2:$size * 0.7);
	@each $elem , $SZ in $map {
		
		#{$elem}{
            font-size: $SZ;
			}
		}
	h1{
		letter-spacing: 10px;
	}
	h3{
		font-size: 17px;
		margin-right: 0px;
	}
	// header
	#header{
		background-image: url(../images/bg-mobile-dark.jpg);
	width: 100%;
	height: 300px;
	padding-top: 50px;
	display: flex;
	justify-content: space-around;
	column-gap:0px;
	}
	
	// first input todo list
.input-todo{
	margin:50px auto;
	margin-top: -130px;
	width: 400px;
	height: 60px;
	background-color: hsl(235, 24%, 19%);

} 
	#footer{
		width:400px;
		
		
		
		label{
		     position: relative;
			top:60px;
		}
	}
	#footer2{
		width:400px;
		display: block;
	}
}
